<html>
  <head>
    <title>CashCam Camera</title>
  </head>
  <body>
    <h1>Temporarily unavailable</h1><br><h3>The stream for camera ${CameraID} is currently offline. You can try and start it by going <a href="control">here</a>.</h3>
  </body>
</html>